In [1]:
import pandas as pd
import numpy as np

from pydataset import data
import os

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

import acquire

### In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [ ]:
df_iris = data('iris')
df_iris

In [ ]:
#print the first 3 rows

In [ ]:
df_iris.head(3)

In [ ]:
#print the number of rows and columns (shape)

In [ ]:
df_iris.shape

In [ ]:
#print the column names

In [ ]:
df_iris.columns

In [ ]:
#print the data type of each column

In [ ]:
df_iris.dtypes

In [ ]:
df_iris.info()

In [ ]:
#print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [ ]:
df_iris.describe().T

## Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

In [ ]:
#notes - I had to get this file and find where is was in my directory

In [ ]:
df_excel = pd.read_excel('Excel_Exercises.xlsx', sheet_name= 'Table1_CustDetails')
df_excel

### assign the first 100 rows to a new dataframe, df_excel_sample

In [ ]:
df_excel_sample = df_excel.head(100)

### print the number of rows of your original dataframe

In [ ]:
df_excel.shape[0]

### print the first 5 column names

In [ ]:
df_excel.columns[:5]

### print the column names that have a data type of object

In [ ]:
df_excel.select_dtypes(include='object')

### compute the range for each of the numeric variables.

In [ ]:
stats_excel = df_excel.describe().T #the T is for tanspose and this will flip the chart i tried to find how to make the range but this worked 
stats_excel

In [ ]:
stats_excel['range'] = stats_excel['max'] - stats_excel['min']
stats_excel

## Read the data from this google sheet into a dataframe, df_google

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/12dVjru-lRFq-vO5ALQVaWcCa-fbi0SpQxS9Y_JrMKOc/edit#gid=341089357'

In [ ]:
sheet_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
sheet_export_url

In [ ]:
df_google = pd.read_csv(sheet_export_url)
df_google

#### print the first 3 rows

In [ ]:
df_google.head(3)

### print the number of rows and columns

In [ ]:
df_google.shape

### print the column names

In [ ]:
df_google.columns.to_list()

### print the data type of each column

In [ ]:
df_google.dtypes

### print the summary statistics for each of the numeric variables

In [ ]:
df_google.describe().T

### print the unique values for each of your categorical variables

In [ ]:
df_google.Name.nunique()

In [ ]:
df_google.Sex.nunique()

In [ ]:
df_google.Ticket.nunique()

In [ ]:
df_google.Cabin.nunique()

In [ ]:
df_google.Embarked.nunique()

## Make a new python module, acquire.py to hold the following data aquisition functions:

### Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

In [ ]:
import env

In [ ]:
from env import host, user, password

In [ ]:
def get_connection(db, username=user, host=host, password=password):
    return f'mysql+pymysql://{username}:{password}@{host}/{db}'

In [ ]:
def new_titanic_data():
    '''
    This function reads the titanic data from the Codeup db into a df.
    '''
    # Create SQL query.
    sql_query = 'SELECT * FROM passengers'
    
    # Read in DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_connection('titanic_db'))
    
    return df

In [ ]:
def get_titanic_data():
    '''
    This function reads in titanic data from Codeup database, writes data to
    a csv file if a local file does not exist, and returns a df.
    '''
    if os.path.isfile('titanic_df.csv'):
        
        # If csv file exists, read in data from csv file.
        df = pd.read_csv('titanic_df.csv', index_col=0)
        
    else:
        
        # Read fresh data from db into a DataFrame.
        df = new_titanic_data()
        
        # Write DataFrame to a csv file.
        df.to_csv('titanic_df.csv')
        
    return df

In [ ]:
titanic_df = get_titanic_data()

In [ ]:
titanic_df.head()

In [ ]:
titanic_df.shape

In [ ]:
def new_iris_data():
    '''
    This function reads the iris data from the Codeup db into a df.
    '''
    sql_query = """
                SELECT 
                    species_id,
                    species_name,
                    sepal_length,
                    sepal_width,
                    petal_length,
                    petal_width
                FROM measurements
                JOIN species USING(species_id)
                """
    
    # Read in DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_connection('iris_db'))
    
    return df

In [ ]:
def get_iris_data():
    '''
    This function reads in iris data from Codeup database, writes data to
    a csv file if a local file does not exist, and returns a df.
    '''
    if os.path.isfile('iris_df.csv'):
        
        # If csv file exists read in data from csv file.
        df = pd.read_csv('iris_df.csv', index_col=0)
        
    else:
        
        # Read fresh data from db into a DataFrame
        df = new_iris_data()
        
        # Cache data
        df.to_csv('iris_df.csv')
        
    return df

In [ ]:
iris_df = get_iris_data()
iris_df.head()

In [ ]:
def new_telco_data():
    '''
    This function reads the iris data from the Codeup db into a df.
    '''
    sql_query = """
                select * from customers
                join contract_types using (contract_type_id)
                join internet_service_types using (internet_service_type_id)
                join payment_types using (payment_type_id)
                """
    
    # Read in DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_connection('telco_churn'))
    
    return df

In [ ]:
def get_telco_data():
    '''
    This function reads in iris data from Codeup database, writes data to
    a csv file if a local file does not exist, and returns a df.
    '''
    if os.path.isfile('telco.csv'):
        
        # If csv file exists read in data from csv file.
        df = pd.read_csv('telco.csv', index_col=0)
        
    else:
        
        # Read fresh data from db into a DataFrame
        df = new_telco_data()
        
        # Cache data
        df.to_csv('telco.csv')
        
    return df

In [ ]:
get_telco_data()

# Data Preperation exercises

 ## Using the Iris Data:

- Use the function defined in acquire.py to load the iris data.

In [ ]:
iris = acquire.get_iris_data()
iris

- Drop the species_id and measurement_id columns.

In [ ]:
#there isnt any measurement_id for me 

new_iris = iris.drop(columns="species_id")

- Rename the species_name column to just species.

In [ ]:

new_iris = new_iris.rename(columns ={'species_name':'species'})
new_iris

- Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [ ]:
pd.get_dummies(new_iris[['species']])

In [ ]:
species_dummies = pd.get_dummies(new_iris[['species']],drop_first=[True,True])

In [ ]:
iris = pd.concat([iris, species_dummies], axis=1)
iris.head()

- Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [ ]:
def clean_data(iris):
    iris = acquire.get_iris_data()
    new_iris = iris.drop(columns="species_id")
    new_iris = new_iris.rename(columns ={'species_name':'species'})
    species_dummies = pd.get_dummies(new_iris[['species']],drop_first=[True,True])
    iris = pd.concat([iris, species_dummies], axis=1)
    return iris

In [ ]:
prep_iris = clean_data(iris)
iris.head()

In [ ]:
iris.info()

###  Using the Titanic dataset

- Use the function defined in acquire.py to load the Titanic data.

In [ ]:
titanic = acquire.get_titanic_data()
titanic

In [ ]:
titanic.info()

In [ ]:
titanic = titanic.drop(columns="deck")
titanic

- Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [ ]:
dummy_titanic = pd.get_dummies(titanic[['sex', 'class']])
dummy_titanic

In [ ]:
dummy_titanic = pd.get_dummies(titanic[['sex', 'class']], dummy_na= False, drop_first=[True, True])
dummy_titanic

In [ ]:
titanic = pd.concat([titanic, dummy_titanic], axis=1)
titanic

- Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [ ]:
def clean_data(titanic):
    titanic = acquire.get_titanic_data()
    titanic = titanic.drop(columns="deck")
    dummy_titanic = pd.get_dummies(titanic[['sex', 'class']], dummy_na= False, drop_first=[True, True])
    titanic = pd.concat([titanic, dummy_titanic], axis=1)
    return titanic

In [ ]:
prep_titanic = clean_data(titanic)
prep_titanic

In [ ]:
prep_titanic.info()

## Using the Telco dataset

- Use the function defined in acquire.py to load the Telco data.

In [2]:
telco = acquire.get_telco_data()

In [3]:
telco

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.60,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.90,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,1,2,9987-LUTYD,Female,0,No,No,13,Yes,...,Yes,No,No,No,55.15,742.9,No,One year,DSL,Mailed check
7039,1,2,1,9992-RRAMN,Male,0,Yes,No,22,Yes,...,No,No,Yes,Yes,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check
7040,2,1,1,9992-UJOEL,Male,0,No,No,2,Yes,...,No,No,No,Yes,50.30,92.75,No,Month-to-month,DSL,Mailed check
7041,2,1,3,9993-LHIEB,Male,0,Yes,Yes,67,Yes,...,Yes,No,Yes,No,67.85,4627.65,No,Two year,DSL,Mailed check
7042,1,1,3,9995-HOTOH,Male,0,Yes,Yes,63,No,...,No,Yes,Yes,No,59.00,3707.6,No,Two year,DSL,Electronic check

In [4]:
telco.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   contract_type_id          7043 non-null   int64
 3   customer_id               7043 non-null   object
 4   gender                    7043 non-null   object
 5   senior_citizen            7043 non-null   int64
 6   partner                   7043 non-null   object
 7   dependents                7043 non-null   object
 8   tenure                    7043 non-null   int64
 9   phone_service             7043 non-null   object
 10  multiple_lines            7043 non-null   object
 11  online_security           7043 non-null   object
 12  online_backup             7043 non-null   object
 13  device_protection         7043 non-null   object
 14  tech_support              7043 non-null   object
 15  streaming_tv              7043 non-null   object
 16  streaming_movies          7043 non-null   object
 17  paperless_billing         7043 non-null   object
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  contract_type             7043 non-null   object
 22  internet_service_type     7043 non-null   object
 23  payment_type              7043 non-null   object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB

- Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [5]:
cols_to_drop = ['payment_type_id', 'internet_service_type_id', 'contract_type_id']
telco = telco.drop(columns=cols_to_drop)
telco.shape

(7043, 21)

In [6]:
telco.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

- Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [7]:
dummy_telco = pd.get_dummies(telco[['gender', 'phone_service','multiple_lines']], dummy_na= False, drop_first=[True, True])
dummy_telco

,gender_Male,phone_service_Yes,multiple_lines_No phone service,multiple_lines_Yes
0,0,1,0,0
1,1,1,0,1
2,1,1,0,0
3,1,1,0,0
4,0,1,0,0
...,...,...,...,...
7038,0,1,0,0
7039,1,1,0,1
7040,1,1,0,0
7041,1,1,0,0
7042,1,0,1,0

In [8]:
telco = pd.concat([telco, dummy_telco], axis=1)
telco.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,gender_Male,phone_service_Yes,multiple_lines_No phone service,multiple_lines_Yes
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,65.6,593.3,No,One year,DSL,Mailed check,0,1,0,0
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,59.9,542.4,No,Month-to-month,DSL,Mailed check,1,1,0,1
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,...,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check,1,1,0,0
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,...,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check,1,1,0,0
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,...,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check,0,1,0,0

- Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [9]:
def clean_data(telco):
    telco = acquire.get_telco_data()
    cols_to_drop = ['payment_type_id', 'internet_service_type_id', 'contract_type_id']
    telco = telco.drop(columns=cols_to_drop)
    dummy_telco = pd.get_dummies(telco[['gender', 'phone_service','multiple_lines']], dummy_na= False, drop_first=[True, True])
    telco = pd.concat([telco, dummy_telco], axis=1)
    return telco

In [10]:
prep_telco = clean_data(telco)
prep_telco.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,gender_Male,phone_service_Yes,multiple_lines_No phone service,multiple_lines_Yes
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,65.6,593.3,No,One year,DSL,Mailed check,0,1,0,0
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,59.9,542.4,No,Month-to-month,DSL,Mailed check,1,1,0,1
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,...,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check,1,1,0,0
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,...,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check,1,1,0,0
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,...,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check,0,1,0,0